.body{
  background-image: url('tv.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
}


.App {
  text-align: center;
}
.h3 {
  text-align: center;
  text-decoration-style: double;
  font-size: 50px;
  color:black;
}

.results {
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  overflow-y: scroll;
  overflow: hidden;
  opacity: 100;
  color: black;
  background-color: white;
  
}


.App-header {
  background: black;
  height:  80px;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  color: blue;
  opacity: none;
  /* background-color: transparent; */
}

